/* CSS Document */

html,body {
	background:#fff;
}
a{
	text-decoration:none;
}
.jumbotron{
	margin-top:-70px;
	height: 400px;
}
.col-sm-6 a {
  text-decoration:none;
}
.stat{
	float:left;
	margin-right: 8px;
}
.stat.to_go{
	float:right;
	margin-left: 4px;
}
.progress{
	height: 4px;
}
.margin-top-10{
	margin-top: 10px
}
.margin-top-20{
	margin-top: 20px
}
.margin-top-30{
	margin-top: 30px
}
.margin-top-40{
	margin-top: 40px
}
.margin-top-50{
	margin-top: 50px
}
.img-rounded {
	width:100%;
	height:auto;
}
.info-box {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 15px;
    min-height: 90px;
    width: 100%;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnails {
    margin-top: 20px;
	margin-right: -2px;
}
.welcome-footer {
    background-color: #fff;
    height: 60px;
    margin-top: 9px;
    width: 100%;
	padding-top: 10px;
	text-align:center;
	text-decoration:none;
	border-top:2px solid #eee;
}
.welcome-footer a{
   	text-decoration:none;
}

